body {
  color: #414141;
}

h1,h2,h3,h4,h5 {
  font-family: $heading-font-family;
}

p,a {
  font-family: $base-font-family;
}

a,a:visited {
  color: #55251D;
}

a:hover {
  color: #4C5760;
  text-decoration: none;
}
