---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Read This...Or Not</h1>
  <h2 class="page-subheading">For Van and Luke, my two pals</h2>

  <ul class="post-list__items">
    {% for post in site.posts reversed %}
      <li class="post-list__item">
        <article>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          {{ post.content }}
        </article>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
